body {
    background-color: #272222;
    margin: 0svb;
    overflow: none;
}

.libre-franklin-uniquifier {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.instrument-sans-uniquifier {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.capaEntrada {
    background-image: url('/imagens/capaEntrada.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: auto;
    justify-content: center;
    align-content: center;
    border-bottom: solid 3px #86821a;
}

.titulo {
    padding-top: 15.03%;
    padding-bottom: 15.03%;
    text-align: center;
    font-size: 500%;
    color: #DAD416;
    font-family: "Libre Franklin", sans-serif;
}

.areaSegGuerra {
    border: solid 0px #fff;
    text-align: center;
    margin-top: 8%;

}

.tituloSegGuerra {
    color: #DAD416;
    font-size: 350%;
    width: 40%;
    border: solid 0px #fff;
    font-family: "Instrument Sans", sans-serif;
    align-content: center;
    margin: auto;
}

.textoSegGuerra {
    color: #fff;
    font-family: "Instrument Sans", sans-serif;
    font-size: 130%;
    width: 60%;
    align-content: center;
    padding-top: 5%;
    margin: auto;
}

.areaIrPaginas {
    display: flex;
    border: solid 0px #fff;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 5%;
    margin-top: 8%;
    margin-bottom: 6%;
}

.overlord {
    background-image: url(/imagens/irParaOverlord.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 600px;
    border: solid 0px #fff;
    height: 330px;
    border-radius: 20px;
    transition: 0.3s;
}

.marketGarden {
    background-image: url(/imagens/irParaMarketGarden.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 600px;
    border: solid 0px #fff;
    height: 330px;
    border-radius: 20px;
    transition: 0.3s;
}

.overlord:hover, .marketGarden:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.overlord:active, .marketGarden:active {
    transform: scale(1);
}