body {
  background-color: #272222;
  margin: 0svb;
  overflow: none;
}

.libre-franklin-uniquifier {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.instrument-sans-uniquifier {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.voltar{
  width: 3%;
  margin-top: 2%;
  margin-left: 3%;
  transition: 0.3s;
}

.voltar:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.voltar:active{
  transform: scale(1);
}

.capaOverlord {
  background-image: url('../imagens/capaOverlord.png');
  background-repeat: no-repeat;
  background-position: -20%;
  background-size: 100%;
  width: 100%;
  height: auto;
  align-items: center;
  margin: auto;
  justify-content: center;
  align-content: center;
  border-bottom: solid 3px #ac0000;
}

.titulo {
  text-align: center;
  font-size: 1000%;
  color: #cf0e0e;
  font-weight: 900;
  padding-top: 5.7%;
  padding-bottom: 5.7%;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #680000;
  font-family: "Libre Franklin", sans-serif;
}



.tituloOverlord {
  text-align: center;
  justify-content: center;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 5%;
  font-size: 400%;
  font-family: "Instrument Sans", sans-serif;
  color: #FF7D04;
}

.tituloOperação {
  color: #FF0000;
}

.tituloDiaD {
  color: #FFCA2B;
}



.areaInfoUm {
  display: flex;
  background-color: #5E3737;
  padding: 2.5%;
  width: 85%;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 3%;
  border-radius: 30px;
}

.areaInfoUm p {
  color: #fff;
  font-size: 140%;
  font-family: "Instrument Sans", sans-serif;
}

.areaInfoUm img {
  width: 40%;
  height: auto;
}

.areaInfoDois {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 3%;
  margin-top: 12%;
  margin-bottom: 9%;
}

.areaInfoDois img {
  width: 50%;
  height: auto;
  border-radius: 30px;
}

.areaInfoDois p {
  color: #fff;
  font-size: 140%;
  font-family: "Instrument Sans", sans-serif;
  text-align: right;
}

.fonte {
  text-align: center;
  margin-bottom: 3%;
  color: #fff;
  font-size: 150%;
  font-weight: 500;
  font-family: "Instrument Sans", sans-serif;
}

.fonte a {
  color: #fff;
}